<% include partials/header %>
    
    <p>The total is <%= total %> </p>
    <p>Your items are:</p>
    <% for(var i=0;i<items.length;i++){ %>
        <p> <%= items[i] %> </p>
    <% } %>
   <button style="width :30%;margin: 25px auto;" class="btn btn-lg btn-primary btn-block"><a href="/details" style="color:black">Submit!</a></button>
    
    
<% include partials/footer %>    