<% include partials/header %>

<h1 style="text-align : center">
    Welcome to the Food App
</h1>
    
    
    <a class="btn btn-primary btn-large" href="/location"> Order !! </a> 

    
    
<% include partials/footer %>    
    
